* {
  box-sizing: border-box;
}
.pr {
  padding-right: 0;
}
.pr button {
  padding: 0.25rem;
}
.p-70 {
  padding: 50px;
}
.pt-150 {
  padding-top: 150px;
}
.p-130 {
  padding: 130px;
}
.text-blue {
  color: #030f49;
}
.fs-50 {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
}
.nav-bg-img {
  background-image: url(images/Rectangle\ 7.jpg);
  background-size: cover;

  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  background-repeat: no-repeat;
}
.bg-clr {
  background-color: #024383;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.menu-head {
  padding: 0 15px;
}
.logo-h {
  height: 100px;
}
.head-text {
  font-size: 30px;
  font-weight: 800;
}
.head-white {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
}
.head-para {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.head-services span {
  background: #c6d8ff;
  color: #000;
  border-bottom-right-radius: 15px;
  padding: 3px 40px 3px 20px;
  font-weight: 700;
}
.head-services ul li {
  color: #fff;
  list-style: none;
}
.why-choose span {
  padding: 5px 60px;
  background: #c6d8ff;
  color: #01204f;
  font-weight: 800;
  font-size: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}
.why-choose ul li {
  color: #012a5e;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 2rem;
}
.partner-bg {
  background-color: #407bff;
}
.bg-cir {
  background-image: url(images/Ellipse\ 1.png);
}
.about-bg {
  background-color: #024383;
}
.head-about {
  background-color: #d9d9d9;
  padding: 3px 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 25px;
  font-weight: 800;
  color: #024383;
}
.abt-mission {
  padding: 50px 110px;
}
.abt-mission .mission {
  background-color: #d9d9d9;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 30px;
}
.abt-mission .mission p {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.about-mission {
  background-image: url(images/mission.png);
  background-repeat: no-repeat;

  padding: 50px;
  border-bottom-left-radius: 50px;
  margin-right: 50px;
}
.abt-vision {
  padding: 50px 110px;
}
.abt-vision .vision {
  background-color: #d9d9d9;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 40px;
}
.abt-vision .vision p {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.about-vision {
  background-image: url(images/vision.png);
  background-repeat: no-repeat;
  border-top-right-radius: 50px;
  padding: 50px;
  margin-left: 50px;
}
.mission {
  color: #fff;

  padding: 24px;
}
.about-mission .mission p {
  font-size: 18px;
  line-height: 2rem;
  padding: 0 150px;
}
.about-vision p {
  font-size: 18px;
  line-height: 2rem;
  padding: 0 150px;
}
.vision {
  color: #fff;
  padding: 24px;
}
.about-bg p {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
}
.philo-head {
  color: #fff;
  /* text-align: center; */
  background: #157dc5;
  padding: 5px 50px;
  font-weight: 700;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.philo-para {
  padding: 50px 70px;
}
.philo-para p {
  text-align: justify;
  line-height: 1.5rem;
  background: #fff;
  padding: 50px;
  border-radius: 10px;
}
.value-bg {
  background-image: url(images/values.png);
  background-repeat: no-repeat;
}
.services-bg {
  background-image: url(images/image\ 2.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}
.services-head h5 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.line {
  width: 65%;
  position: absolute;
  /* right: -100px; */
  left: 35%;
}
.services-head ul li {
  color: #fff;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 2rem;
}
.blog-bg {
  background-image: url(images/image\ 3.jpg);
  height: 500px;
  background-size: cover;
}
.blog-head {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.contact-bg {
  background-image: url(images/image\ 4.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-head h5 {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}
.contact-form h6 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}
.contact-form label {
  color: #fff;
}
.contact-form input {
  padding: 15px !important;
  height: 0 !important;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}
.philosophy-para {
  padding: 50px 100px 50px 15px;
}
.philosophy-para p {
  text-align: justify;
  font-size: 17px;
  line-height: 1.7rem;
  color: #fff;
  padding: 40px 75px;
  border-radius: 10px;
}
.sec-bg {
  background-color: #030f49;
  border-radius: 20px;
}
.value {
  border: 2px solid #fff;
  padding: 30px;
  margin: 15px 0;
}
.value-line {
  width: 100px;
  background: #fff;
  height: 2px;
  margin: auto;
}
.value p {
  font-size: 17px;
  text-align: start;
  color: #fff;
}
.value h6 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;

  color: #fff;
}
.outer {
  padding: 50px;
}
.values {
  margin-top: -100px;
}
.obj-bg {
  padding: 45px;
  border-radius: 20px;
}

.mt-70 {
  margin-top: 70px;
}
.login-form {
  background: #f1f1f140;
  padding: 50px 30px;
  border-radius: 20px;
}
.login-form input {
  padding: 15px !important;
  height: 0 !important;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}
.pl-25 {
  margin-bottom: 7px;
}
.obj-head {
  font-weight: 700;
  font-size: 18px;
}
.ver-line {
  width: 4px;
  height: 500px;
  background: #030f49;
  margin: 40px;
}
.btn {
  font-size: 18px;
  color: #fff;
  /* border: 1px solid; */
  padding: 5px 35px;
  border-radius: 20px;
  background: #27b4e9;
  font-weight: 600;
}
.app-bg {
  background-image: url(images/app-dev.png);

  background-size: cover;
  width: 100%;
}
.app-bg .para {
  color: #fff;
  font-size: 18px;
  padding: 50px;
  font-weight: 400;
}
.app-bg span {
  color: #041624;
  background: #c7e9fa;
  padding: 5px 50px;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 24px;
  font-weight: 700;
}
.training-bg {
  background-image: url(images/image\ 6.png);

  background-size: cover;
  width: 100%;
}
.training-bg .para {
  color: #fff;
  font-size: 18px;
  padding: 70px 25px 50px 0;
  font-weight: 400;
}
.training-bg .train {
  color: #041624;
  background: #c7e9fa;
  padding: 5px 50px;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 24px;
  font-weight: 700;
}
.training-bg .ver-line {
  width: 3px;
  height: 60px;
  background: #fff;
  position: absolute;
  top: 10%;
}
.objective {
  padding: 30px;
}
.objective ul li {
  padding: 5px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}
.our-service {
  background-image: url(images/about-us.png);
  background-repeat: no-repeat;
  background-position: center;
}
.our-service h4 {
  padding: 15px;
  /* margin: auto; */
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  text-shadow: 0 0 black;
}
.data-sol {
  background-image: url(images/data-solu.png);
  background-size: cover;
}
.data-bg {
  background-color: #0c4563;
  border-radius: 20px;
}
.data-sol h4 {
  font-size: 24px;
  /* text-align: center; */
  color: #fff;
  font-weight: 700;
  padding: 15px 50px;
}
.data-objective ul li {
  color: #fff;
  padding: 5px;
  font-size: 17px;
  font-weight: 400;
}
.about {
  background-image: url(images/about-us.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.about h4 {
  padding: 15px;
  /* margin: auto; */
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  text-shadow: 3px 3px black;
}
.philo-bg {
  background-image: url(images/values.png);
  background-position: center;
  position: relative;
  padding: 45px 0;
}
.philosophy-para {
  background-image: url(images/philo.png);
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.logo-img img {
  width: 100%;
  position: absolute;
  right: 45%;
  top: 20%;
}

/*slider css*/
.partner {
  display: grid;
  place-items: center;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  overflow: hidden;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.slider-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(80%);
  }

  100% {
    transform: translateX(-20%);
  }
}

.slider-items img {
  width: 150px;
  margin: 20px;
  height: 120px;
}

/* demo */
.test {
  position: relative;
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.test:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(54 129 220 / 61%);
  border-radius: 20px;
}
.text {
  /* font-family: Arial; */
  font-size: 25px;
  color: white;
  font-weight: 600;
  /* text-shadow: 0.1em 0.1em 0.5em rgb(0 0 0 / 50%); */
  margin: 0;
  position: absolute;
  border: none;
  padding: 5px 50px;
  border-radius: 20px;
  background: #131c43;
  box-shadow: 1px 1px 1px 1px #000;
}
.choose-img img {
  max-width: 100%;
  width: 500px;
}
.services-training {
  padding: 70px 15px;
}
@media screen and (max-width: 576px) {
  .pr {
    padding-right: 1.5rem;
  }
  .pt-150 {
    padding-top: 0;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
  }
  .philosophy-para {
    padding: 25px;
  }
  .philosophy-para p {
    padding: 0;
    padding-top: 10px;
    font-size: 13px;
    line-height: 1.3rem;
  }
  .logo-img img {
    width: 120px;
    position: absolute;
    right: 40%;
    top: 45%;
  }
  .about h4 {
    font-size: 20px;
  }
  .mission {
    padding: 10px 24px;
  }
  .about-mission {
    padding: 10px 0;
    margin-right: 0;
  }
  .about-mission .mission p {
    padding: 0;
    line-height: 1.5rem;
    font-size: 15px;
  }
  .vision {
    padding: 10px 24px;
  }
  .about-vision {
    padding: 10px 0;
    margin-left: 0;
  }
  .about-vision .vision p {
    padding: 0;
    line-height: 1.5rem;
    font-size: 15px;
  }
  .value {
    padding: 15px;
    margin: 7px 0;
  }
  .value h6 {
    font-size: 18px;
  }
  .value p {
    font-size: 14px;
    text-align: justify;
  }
  .our-service h4 {
    font-size: 20px;
  }
  .app-bg span {
    padding: 5px 20px;
    font-size: 18px;
  }
  .app-bg .para {
    font-size: 14px;
    padding: 25px;
  }
  .training-bg .train {
    padding: 5px 20px;
    font-size: 18px;
  }
  .training-bg .ver-line {
    display: none;
  }
  .training-bg .para {
    font-size: 14px;
    padding: 25px;
  }
  .services-training {
    padding: 30px 15px;
  }
  .objective {
    padding: 10px 25px;
  }
  .objective ul li {
    font-size: 15px;
    font-weight: 500;
    padding: 0;
  }
  .data-sol {
    background-size: contain;

    background-position: center;
    background-repeat: no-repeat;
  }
  .data-sol h4 {
    font-size: 20px;
  }
  .data-objective ul li {
    font-size: 14px;
  }
  .obj-head {
    font-weight: 500;
    font-size: 15px;
  }
  .head-white {
    font-size: 25px;
  }
  .logo-h {
    height: 50px;
  }
  .navbar-dark .navbar-toggler {
    color: #fff;
    background: #024383;
  }
  .head-text {
    font-size: 22px;
  }
  .head-para {
    font-size: 16px;
  }
  .why-choose ul li {
    font-size: 16px;
    line-height: 1.5rem;
  }
  .why-choose .center {
    text-align: center;
  }
  .abt-mission {
    padding: 40px;
  }
  .abt-mission .mission {
    padding: 25px;
  }
  .abt-mission .mission p {
    font-size: 14px;
  }
  .abt-vision {
    padding: 40px;
  }
  .abt-vision .vision {
    padding: 25px;
  }
  .abt-vision .vision p {
    font-size: 14px;
  }
  .philo-para {
    padding: 25px;
  }
  .philo-para p {
    font-size: 14px;
    padding: 20px;
  }
  .p-130 {
    padding: 30px;
  }
  .services-bg {
    height: auto;
  }
  .services-head h5 {
    font-size: 20px;
  }
  .services-head ul li {
    font-size: 16px;
  }
  .blog-head {
    font-size: 22px;
    text-align: end;
  }
  .line {
    width: 50%;
    left: 46%;
  }
  services-traning {
  }
}
