<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Verify</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
    <h1 class="text-center text-primary p-3">Welcome to Silicon Mango</h1>
    <p class="text-center text-light py-3 bg-primary">We practice the trasnperency of data</p>

    {% if data['entry'] %}
    <div class="container d-flex justify-content-center align-items-center">
        <div class="bordered p-3 round">
            <p>Hereby we(Silicon Mango) declare that,</p>
            <h2>{{ data['name'] }} has successfully completed</h2>
            <p>the {{ data['course'] }}</p>
            <p>in {{ data['batch'] }} batch.</p>
        </div>
    </div>
    {% else %}
        <p class="text-center text-danger">No data found for the specified code. there might be a typing mistake or certificate is not valid.</p>
    {% endif %}
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>